include:
- project: kubernetes/tools/gitlab-ci
  file:
  - buildkit.gitlab-ci.yml
  ref: master

stages:
  - setup
  - build
  - deploy

build::bin:
  stage: setup
  rules:
  - if: $CI_COMMIT_BRANCH || $CI_COMMIT_TAG
  image: registry.cern.ch/docker.io/library/golang:1.24
  artifacts:
    expire_in: '10 min'
    paths:
    - bin/
  script:
  - make build-cross

build::image:
  rules:
  - if: $CI_COMMIT_TAG
    variables:
      PUSH_IMAGE: "true"
      IMAGE_TAGS: $CI_COMMIT_TAG
  - if: $CI_COMMIT_BRANCH
    variables:
      IMAGE_TAGS: $CI_COMMIT_SHA
      PUSH_IMAGE: "false"
  variables:
    BUILDKIT_ADDITIONAL_ARGS: "--opt build-arg:RELEASE=$IMAGE_TASG --opt build-arg:GITREF=$CI_COMMIT_SHA --opt build-arg:CREATED=$CI_PIPELINE_CREATED_AT"
    CI_REGISTRY: registry.cern.ch
    CONTEXT_DIR: "."
    DOCKERFILE: "deployments/docker/Dockerfile"
    IMAGE: "registry.cern.ch/kubernetes/eosxd-csi"
    PLATFORMS: "linux/amd64,linux/arm64"
    USE_CACHE: "false"

package::chart:
  stage: deploy
  rules:
  - if: $CI_COMMIT_TAG
    variables:
      PUSH_CHART: "true"
  - if: $CI_COMMIT_BRANCH
    variables:
      PUSH_CHART: "false"
  image: registry.cern.ch/kubernetes/ops:0.6.0
  script: |
    helm package "deployments/helm/${CHART_NAME}"

    if $PUSH_CHART; then
      helm registry login registry.cern.ch -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
      helm push ${CHART_NAME}-${CI_COMMIT_TAG#v}.tgz "oci://${REGISTRY_CHART_PATH}"

      echo -n "${HARBOR_SIGNKEY}" | base64 -d > .sign.key
      cosign login registry.cern.ch -u ${HARBOR_USER} -p ${HARBOR_TOKEN}
      cosign sign --key .sign.key -y "${REGISTRY_CHART_PATH}/${CHART_NAME}:${CI_COMMIT_TAG#v}"
    fi
  variables:
    REGISTRY_CHART_PATH: registry.cern.ch/kubernetes/charts
    COSIGN_PRIVATE_KEY: "$HARBOR_SIGNKEY"
    CHART_NAME: eosxd-csi
