# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

extraSecrets:
  eos-csi-file-etc-eos-keytab:
    stringData:
      eos.keytab: |
        0 u:eosnobody g:def-cg n:eosnobody N:6752069312392986625 c:1572088644 e:0 f:0 k:ea3d35d2dd64ad4794a2e2f7499fd3c45e0e8a590b0c4ff8a2049cbec244636c

# Extra ConfigMaps to create and manage by the chart release.
# These can be used e.g. when defining eosxd client configuration.
# ConfigMap data supports go-template expressions.
extraConfigMaps:
  # /etc/krb5.conf.d/crypto-policies
  #
  # Required to override the default list of accepted KRB ciphers by adding
  # "arcfour-hmac-md5" to retain support for tickets created by cc7 clients.
  eos-csi-dir-etc-krb5-conf:
    crypto-policies: |
      # Added by EOSxd CSI driver.
      # Overrides the default list of accepted KRB ciphers by adding "arcfour-hmac-md5"
      # to retain support for tickets created by cc7 clients.

      [libdefaults]
      permitted_enctypes = arcfour-hmac-md5 aes256-cts-hmac-sha1-96 aes256-cts-hmac-sha384-192 aes128-cts-hmac-sha256-128 aes128-cts-hmac-sha1-96

  eos-csi-dir-etc-auto-master-d:
    # /etc/auto.master.d/eos.autofs
    eos.autofs: |
      /eos /etc/eos/auto.eos
    # /etc/auto.master.d/eos.squashfs.autofs
    eos.squashfs.autofs: |
      /eos/squashfs program:/sbin/auto.eos.squashfs

  eos-csi-dir-etc-eos:
    fuse.conf: |
      {"auth":{"ssskeytab":"/etc/eos.keytab"}}
    fuse.ams.conf: |
      {"name":"ams","hostport":"eosams.cern.ch","remotemountdir":"/eos/ams/","auth":{"ssskeytab":"/etc/eos.keytab"}}
    fuse.atlas.conf: |
      {"name":"atlas","hostport":"eosatlas.cern.ch","remotemountdir":"/eos/atlas/","auth":{"ssskeytab":"/etc/eos.keytab"}}
    fuse.cms.conf: |
      {"name":"cms","hostport":"eoscms.cern.ch","remotemountdir":"/eos/cms/","auth":{"ssskeytab":"/etc/eos.keytab"}}
    fuse.experiment.conf: |
      {"name":"experiment","hostport":"eospublic.cern.ch","remotemountdir":"/eos/experiment/","auth":{"ssskeytab":"/etc/eos.keytab"}}
    fuse.geant4.conf: |
      {"name":"geant4","hostport":"eospublic.cern.ch","remotemountdir":"/eos/geant4/","auth":{"ssskeytab":"/etc/eos.keytab"}}
    fuse.home-i00.conf: |
      {"name":"home-i00","hostport":"eoshome-i00.cern.ch","remotemountdir":"/eos/user/","bind":"d l n t z","auth":{"ssskeytab":"/etc/eos.keytab"}}
    fuse.home-i01.conf: |
      {"name":"home-i01","hostport":"eoshome-i01.cern.ch","remotemountdir":"/eos/user/","bind":"a g j k w","auth":{"ssskeytab":"/etc/eos.keytab"}}
    fuse.home-i02.conf: |
      {"name":"home-i02","hostport":"eoshome-i02.cern.ch","remotemountdir":"/eos/user/","bind":"h o r s y","auth":{"ssskeytab":"/etc/eos.keytab"}}
    fuse.home-i03.conf: |
      {"name":"home-i03","hostport":"eoshome-i03.cern.ch","remotemountdir":"/eos/user/","bind":"b e m v x","auth":{"ssskeytab":"/etc/eos.keytab"}}
    fuse.home-i04.conf: |
      {"name":"home-i04","hostport":"eoshome-i04.cern.ch","remotemountdir":"/eos/user/","bind":"c f i p q u","auth":{"ssskeytab":"/etc/eos.keytab"}}
    fuse.lhcb.conf: |
      {"name":"lhcb","hostport":"eoslhcb.cern.ch","remotemountdir":"/eos/lhcb/","auth":{"ssskeytab":"/etc/eos.keytab"}}
    fuse.media.conf: |
      {"name":"media","hostport":"eosmedia.cern.ch","remotemountdir":"/eos/media/","auth":{"ssskeytab":"/etc/eos.keytab"}}
    fuse.project-i00.conf: |
      {"name":"project-i00","hostport":"eosproject-i00.cern.ch","remotemountdir":"/eos/project/","bind":"a e j g v k q y","auth":{"ssskeytab":"/etc/eos.keytab"}}
    fuse.project-i01.conf: |
      {"name":"project-i01","hostport":"eosproject-i01.cern.ch","remotemountdir":"/eos/project/","bind":"l h b p s f w n o","auth":{"ssskeytab":"/etc/eos.keytab"}}
    fuse.project-i02.conf: |
      {"name":"project-i02","hostport":"eosproject-i02.cern.ch","remotemountdir":"/eos/project/","bind":"d c i r m t u x z","auth":{"ssskeytab":"/etc/eos.keytab"}}
    fuse.theory.conf: |
      {"name":"theory","hostport":"eospublic.cern.ch","remotemountdir":"/eos/theory/","auth":{"ssskeytab":"/etc/eos.keytab"}}
    fuse.web.conf: |
      {"name":"web","hostport":"eosmedia.cern.ch","remotemountdir":"/eos/web/","auth":{"ssskeytab":"/etc/eos.keytab"}}
    fuse.workspace.conf: |
      {"name":"workspace","hostport":"eospublic.cern.ch","remotemountdir":"/eos/workspace/","auth":{"ssskeytab":"/etc/eos.keytab"}}
    fuse.user.conf: |
      {"name":"user","hostport":"eosuser-fuse.cern.ch","remotemountdir":"/eos/user/","rm-rf-protect-levels":2,"auth":{"ssskeytab":"/etc/eos.keytab"}}
    fuse.project.conf: |
      {"name":"project","hostport":"eosproject-fuse.cern.ch","remotemountdir":"/eos/project/","rm-rf-protect-levels":1,"auth":{"ssskeytab":"/etc/eos.keytab"}}
    auto.eos: |
      ams -fstype=eosx,fsname=ams  :eosxd
      atlas -fstype=eosx,fsname=atlas  :eosxd
      cms -fstype=eosx,fsname=cms  :eosxd
      experiment -fstype=eosx,fsname=experiment  :eosxd
      geant4 -fstype=eosx,fsname=geant4  :eosxd
      lhcb -fstype=eosx,fsname=lhcb  :eosxd
      project -fstype=eosx,fsname=project  :eosxd
      theory -fstype=eosx,fsname=theory  :eosxd
      user -fstype=eosx,fsname=user  :eosxd
      web -fstype=eosx,fsname=web  :eosxd
      workspace -fstype=eosx,fsname=workspace  :eosxd

      # EOS instance-letter mappings are defined in their respective
      # client configs in /etc/eos.

      home-i00 -fstype=eosx,fsname=home-i00  :eosxd
      home-i01 -fstype=eosx,fsname=home-i01  :eosxd
      home-i02 -fstype=eosx,fsname=home-i02  :eosxd
      home-i03 -fstype=eosx,fsname=home-i03  :eosxd
      home-i04 -fstype=eosx,fsname=home-i04  :eosxd

      home-d -symlink :/eos/home-i00/d
      home-l -symlink :/eos/home-i00/l
      home-n -symlink :/eos/home-i00/n
      home-t -symlink :/eos/home-i00/t
      home-z -symlink :/eos/home-i00/z

      home-a -symlink :/eos/home-i01/a
      home-g -symlink :/eos/home-i01/g
      home-j -symlink :/eos/home-i01/j
      home-k -symlink :/eos/home-i01/k
      home-w -symlink :/eos/home-i01/w

      home-h -symlink :/eos/home-i02/h
      home-o -symlink :/eos/home-i02/o
      home-r -symlink :/eos/home-i02/r
      home-s -symlink :/eos/home-i02/s
      home-y -symlink :/eos/home-i02/y

      home-b -symlink :/eos/home-i03/b
      home-e -symlink :/eos/home-i03/e
      home-m -symlink :/eos/home-i03/m
      home-v -symlink :/eos/home-i03/v
      home-x -symlink :/eos/home-i03/x

      home-c -symlink :/eos/home-i04/c
      home-f -symlink :/eos/home-i04/f
      home-i -symlink :/eos/home-i04/i
      home-p -symlink :/eos/home-i04/p
      home-q -symlink :/eos/home-i04/q
      home-u -symlink :/eos/home-i04/u

      project-i00 -fstype=eosx,fsname=project-i00  :eosxd
      project-i01 -fstype=eosx,fsname=project-i01  :eosxd
      project-i02 -fstype=eosx,fsname=project-i02  :eosxd

      project-a -symlink :/eos/project-i00/a
      project-e -symlink :/eos/project-i00/e
      project-j -symlink :/eos/project-i00/j
      project-g -symlink :/eos/project-i00/g
      project-v -symlink :/eos/project-i00/v
      project-k -symlink :/eos/project-i00/k
      project-q -symlink :/eos/project-i00/q
      project-y -symlink :/eos/project-i00/y

      project-l -symlink :/eos/project-i01/l
      project-h -symlink :/eos/project-i01/h
      project-b -symlink :/eos/project-i01/b
      project-p -symlink :/eos/project-i01/p
      project-s -symlink :/eos/project-i01/s
      project-f -symlink :/eos/project-i01/f
      project-w -symlink :/eos/project-i01/w
      project-n -symlink :/eos/project-i01/n
      project-o -symlink :/eos/project-i01/o

      project-d -symlink :/eos/project-i02/d
      project-c -symlink :/eos/project-i02/c
      project-i -symlink :/eos/project-i02/i
      project-r -symlink :/eos/project-i02/r
      project-m -symlink :/eos/project-i02/m
      project-t -symlink :/eos/project-i02/t
      project-u -symlink :/eos/project-i02/u
      project-x -symlink :/eos/project-i02/x
      project-z -symlink :/eos/project-i02/z

# CSI Node plugin DaemonSet configuration.
# Node plugin handles node-local operations, e.g. mounting and unmounting
# eosxd repositories.
nodeplugin:
  # Component name. Used as `component` label value
  # and to generate DaemonSet name.
  name: nodeplugin

  # Extra volumes to be appended to nodeplugin's Pod.spec.volumes.
  extraVolumes:
    - name: host-var-cache
      hostPath:
        path: /var/cache
    - name: etc-eos
      configMap:
        name: eos-csi-dir-etc-eos
    - name: etc-auto-master-d
      configMap:
        name: eos-csi-dir-etc-auto-master-d
    - name: etc-eos-keytab
      secret:
        secretName: eos-csi-file-etc-eos-keytab
        defaultMode: 0400
    - name: eos-csi-dir-etc-krb5-conf
      configMap:
        name: eos-csi-dir-etc-krb5-conf

  # eosxd CSI image and container resources specs.
  plugin:
    image:
      repository: registry.cern.ch/kubernetes/eosxd-csi
      tag: "" # If no tag specified default to Chart AppVersion.
      pullPolicy: IfNotPresent
    resources: {}
    # Extra volume mounts to append to nodeplugin's
    # Pod.spec.containers[name="nodeplugin"].volumeMounts.
    extraVolumeMounts:
      - name: eos-csi-dir-etc-krb5-conf
        mountPath: /etc/krb5.conf.d

  # eosxd CSI image and container resources specs.
  automount:
    image:
      repository: registry.cern.ch/kubernetes/eosxd-csi
      tag: "" # If no tag specified default to Chart AppVersion.
      pullPolicy: IfNotPresent
    resources: {}
    # Extra volume mounts to append to nodeplugin's
    # Pod.spec.containers[name="automount"].volumeMounts.
    extraVolumeMounts:
      - name: host-var-cache
        mountPath: /var/cache
      - name: etc-eos
        mountPath: /etc/eos
      - name: etc-auto-master-d
        mountPath: /etc/auto.master.d
      - name: etc-eos-keytab
        mountPath: /etc/eos.keytab
        subPath: eos.keytab
      - name: eos-csi-dir-etc-krb5-conf
        mountPath: /etc/krb5.conf.d

  mountreconciler:
    image:
      repository: registry.cern.ch/kubernetes/eosxd-csi
      tag: "" # If no tag specified default to Chart AppVersion.
      pullPolicy: IfNotPresent
    resources: {}
    # Extra volume mounts to append to nodeplugin's
    # Pod.spec.containers[name="mountreconciler"].volumeMounts.
    extraVolumeMounts:
      - name: eos-csi-dir-etc-krb5-conf
        mountPath: /etc/krb5.conf.d

  # csi-node-driver-registrar image and container resources specs.
  registrar:
    image:
      repository: registry.k8s.io/sig-storage/csi-node-driver-registrar
      tag: v2.10.1
      pullPolicy: IfNotPresent
    resources: {}

  # DaemonSet update strategy.
  updateStrategySpec:
    # When eosxd Node plugin Pod is restarted, all existing eosxd mounts on
    # that node will break. If the Node plugin DaemonSet needs to be updated,
    # all Pods that mount eosxd volumes on that node must be restarted (deleted)
    # too in order to refresh the mounts.
    type: OnDelete

  # Pod-level security context for nodeplugin daemonset.
  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault

  # Pod priority class name.
  priorityClassName: system-node-critical

  # Pod node selector.
  nodeSelector: {}

  # Pod node tolerations.
  tolerations: []

  # Pod node affinity.
  affinity: {}

  # Pod's hostname must match the name of the host,
  # otherwise SSS reports "IP address mismatch".
  # This must be enabled when using OAuth2-based auth,
  # as it relies on SSS.
  hostNetwork: true

  # With host network enabled, DNS policy should be set to
  # ClusterFirstWithHostNet. EOS client makes a lot of DNS
  # queries, and they should go through cluster's DNS cache.
  dnsPolicy: ClusterFirstWithHostNet

# CSI Controller plugin Deployment configuration.
# eosxd CSI supports volume provisioning, however the provisioned volumes only fulfil the role
# of a reference to eosxd repositories used inside the CO (e.g. Kubernetes), and are not modifying
# the eosxd store in any way.
controllerplugin:
  # Component name. Used as `component` label value
  # and to generate DaemonSet name.
  name: controllerplugin

  # Number of Deployment replicas. In general, one is sufficient.
  replicas: 1

  extraVolumes:
    - name: eos-csi-dir-etc-krb5-conf
      configMap:
        name: eos-csi-dir-etc-krb5-conf

  # eosxd CSI image and container resources specs.
  plugin:
    image:
      repository: registry.cern.ch/kubernetes/eosxd-csi
      tag: "" # If no tag specified default to Chart AppVersion.
      pullPolicy: IfNotPresent
    resources: {}
    extraVolumeMounts:
      - name: eos-csi-dir-etc-krb5-conf
        mountPath: /etc/krb5.conf.d

  # CSI external-provisioner image and container resources specs.
  provisioner:
    image:
      repository: k8s.gcr.io/sig-storage/csi-provisioner
      tag: v4.0.1
      pullPolicy: IfNotPresent
    resources: {}

  # Deployment update strategy.
  deploymentStrategySpec:
    type: RollingUpdate

  # Pod-level security context for controllerplugin deployment.
  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault

  # Pod priority class name.
  priorityClassName: ""

  # Pod node selector.
  nodeSelector: {}

  # Pod node tolerations.
  tolerations: []

  # Pod node affinity.
  affinity: {}

  # ServiceAccount to use with Controller plugin Deployment.
  serviceAccount:
    # Name of the ServiceAccount (to use and/or create).
    # If no name is provided, Helm chart will generate one.
    serviceAccountName: ""

    # Whether to create ServiceAccount in the eosxd CSI namespace.
    # If not, it is expected the ServiceAccount is already present.
    create: true

  # RBAC rules assigned to the ServiceAccount defined above.
  rbac:
    # Whether to create RBACs in the eosxd CSI namespace.
    # If not, it is expected they are already present.
    create: true

# Common storage class configuration.
commonStorageClass:
  enabled: false
  className: eos

# Log verbosity level.
# See https://github.com/kubernetes/community/blob/master/contributors/devel/sig-instrumentation/logging.md
# for description of individual verbosity levels.
logVerbosityLevel: 4

# eosxd CSI driver name used as driver identifier by Kubernetes.
# Must follow DNS notation format (https://tools.ietf.org/html/rfc1035#section-2.3.1),
# and must be 63 characters or less.
csiDriverName: eosxd.csi.cern.ch

# Kubelet's plugin directory path. By default, kubelet uses /var/lib/kubelet/plugins.
# This value may need to be changed if kubelet's root dir (--root-dir) differs from
# this default path.
kubeletDirectory: /var/lib/kubelet

# Name of the eosxd CSI socket file. eosxd CSI socket file will be stored under
# <kubeletPluginDirectory>/plugins/<csiDriverName>/<csiPluginSocketFile>.
csiPluginSocketFile: csi.sock

# Path on the host where to mount the autofs-managed CVMFS root.
# The directory will be created if it doesn't exist.
automountHostPath: /var/eos

# Number of seconds to wait for automount daemon to start up before exiting.
automountDaemonStartupTimeout: 10
# Number of seconds of idle time after which an autofs-managed eosxd mount will
# be unmounted. '0' means never unmount, '-1' leaves automount default option.
automountDaemonUnmountTimeout: 600

# Reconcile broken /eos/* mounts in specified interval.
reconcileMountsFrequency: 10s

# Chart name overrides.
nameOverride: ""
fullNameOverride: ""

# Extra Kubernetes object metadata labels to be added the ones generated
# with eosxd-csi.common.metaLabels template.
extraMetaLabels: {}
